*{
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 25px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.first {
  background: url("images/jellyfish.jpg");
}

.second {
  background: url("images/jellyfish2.jpg");
}

.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

.text {
  text-align: center;
  padding-top:250px;
}

.paragraph {
  padding-top: 0px;
}

.section {
  background: #02092F;
  text-align: center;
  font-size: 14px;
  padding: 1% 20%;
}
